grafana:
  adminPassword: prom-operator
  service:
    type: ClusterIP
    port: 80
  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default

  dashboards:
    default:
      wrk-performance:
        json: {}

  sidecar:
    dashboards:
      enabled: true
      label: grafana_dashboard
      folder: /var/lib/grafana/dashboards/default

prometheus:
  prometheusSpec:
    serviceMonitorSelectorNilUsesHelmValues: false

kubelet:
  serviceMonitor:
    enabled: true

nodeExporter:
  enabled: true

kube-state-metrics:
  enabled: true
