name: Validate Project

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Validate YAML files
      uses: ibiqlik/action-yamllint@v3
      with:
        config_file: .yamllint.yml
